@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");

/* COMMON */
$mainColor: #4d82bf;

@mixin main-font($fontColor: #333333, $size: 15px) {
    /* 기본값 #333333, 15px */
    font-family: "Noto Sans KR", sans-serif;
    font-size: $size;
    color: $fontColor;
    font-weight: 400;
    line-height: 1;
    @content;
}

@mixin box-style($boxWidth: 200px, $boxHeight: 165px) {
    width: $boxWidth;
    height: $boxHeight;
    border-radius: 8px;
    box-shadow: 1px 9px 16px -9px rgba(0, 0, 0, 0.5);
    @content;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    @content;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

/* TYPHOGRAPHY */
body {

    a,
    span {
        @include main-font;
    }
}

/* HEADER */
header {
    height: 140px;
    padding: 16px 0 26px;
    background: $mainColor;
    position: relative;
    box-sizing: border-box;

    h1 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        a {
            display: block;
            background: url(../images/ebs_logo_pc1.png) no-repeat;
            width: 108px;
            height: 47px;
            text-indent: -9999em;
        }
    }

    .top_menu .left li:first-child {

        a {
            display: inline-block;
            background: url(../images/ebs_main_spt1.png) no-repeat;
            width: 23px;
            height: 19px;
            color: transparent;
        }
    }

    .top_menu {
        display: flex;
        justify-content: space-between;
        margin-bottom: 58px;

        ul {
            li {
                margin-right: 22px;
                display: inline-block;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    @include main-font($fontColor: #e4e7ed, $size: 14px);
                }
            }
        }
    }

    .main_menu {
        display: flex;
        justify-content: space-between;

        ul {
            li {
                margin-right: 32px;
                display: inline-block;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    @include main-font($fontColor: #fff, $size: 22px);
                    font-weight: 500;
                }
            }
        }
    }
}

/* MAIN */
main {
    padding-top: 32px;
    background: #f2f4f7;

    .on_air {
        margin-bottom: 23px;

        a {
            @include flex-center;

            span {
                font-size: 19px;
            }

            span:first-of-type {
                font-size: 22px;
                color: red;
                font-weight: 500;
            }
        }
    }

    form {
        position: relative;
        width: 910px;

        @include flex-center;

        input {
            width: 910px;
            height: 68px;
            background: #fff;
            border: 5px solid $mainColor;
            box-sizing: border-box;
        }

        button {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            background: url(../images/search_icon.png) no-repeat;
            border: none;
            width: 30px;
            height: 30px;
        }
    }

    .fun_contents,
    .popular_contents {
        float: left;
    }

    .main_contents {
        padding-bottom: 178px;

        .fun_contents {
            position: relative;

            ul {
                margin-top: 50px;
                width: 863px;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;

                li {
                    display: inline-block;
                    @include box-style($boxWidth: 200px, $boxHeight: 163px);
                    background: #fff;
                    margin-right: 18px;
                    margin-bottom: 13px;
                    position: relative;
                    overflow: hidden;

                    &:nth-child(4n),
                    &:last-child {
                        margin-right: 0;
                    }
                }

                a {
                    @include flex-center;

                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    text-align: center;

                    span {
                        z-index: 3;
                        transition: 0.2s;
                    }

                    &:hover span {
                        color: #fff;
                    }

                    &:hover:after {
                        opacity: 1;
                    }

                    &:after {
                        position: absolute;
                        opacity: 0;
                        content: "";
                        top: 0;
                        left: 0%;
                        width: 200%;
                        height: 100%;
                        background: linear-gradient(-45deg,
                                #8865b8,
                                #8865b8,
                                #3c98c9,
                                #3cc97b,
                                #3cc97b) top center;
                        background-size: 180% 180%;
                        border-radius: 11px;
                        animation: moveBg 2.5s ease-in-out infinite;
                        transition: 0.2s;

                        @keyframes moveBg {
                            0% {
                                transform: translate(0%);
                            }

                            50% {
                                transform: translate(-50%);
                            }

                            100% {
                                transform: translate(0%);
                            }
                        }
                    }
                }

                .fun_logo {
                    background: url(../images/ebs_main_spt1.png) no-repeat;
                    margin-bottom: 32px;
                    z-index: 3;
                }

                li:nth-child(1) a .fun_logo {
                    background-position: 0 -125px;
                    width: 163px;
                    height: 23px;
                }

                li:nth-child(1):hover a .fun_logo {
                    background-position: -180px -125px;
                }

                li:nth-of-type(2) a .fun_logo {
                    background-position: -147px -24px;
                    width: 112px;
                    height: 31px;
                }

                li:nth-child(2):hover a .fun_logo {
                    background-position: -147px -80px;
                }

                li:nth-child(3) a .fun_logo {
                    background-position: -273px -24px;
                    width: 136px;
                    height: 42px;
                }

                li:nth-child(3):hover a .fun_logo {
                    background-position: -273px -75px;
                }

                li:nth-child(4) a .fun_logo {
                    background-position: -427px -24px;
                    width: 145px;
                    height: 39px;
                }

                li:nth-child(4):hover a .fun_logo {
                    background-position: -427px -86px;
                }

                li:nth-child(5) a .fun_logo {
                    background-position: 0 -163px;
                    width: 103px;
                    height: 53px;
                }

                li:nth-child(5):hover a .fun_logo {
                    background-position: 0 -219px;
                }

                li:nth-child(6) a .fun_logo {
                    background-position: -180px -176px;
                    width: 125px;
                    height: 39px;
                }

                li:nth-child(6):hover a .fun_logo {
                    background-position: -180px -232px;
                }

                li:nth-child(7) a .fun_logo {
                    background-position: -345px -176px;
                    width: 88px;
                    height: 40px;
                }

                li:nth-child(7):hover a .fun_logo {
                    background-position: -345px -234px;
                }

                li:nth-child(8) a .fun_logo {
                    background-position: -490px -171px;
                    width: 70px;
                    height: 42px;
                }

                li:nth-child(8):hover a .fun_logo {
                    background-position: -490px -238px;
                }

                li:nth-child(9) a .fun_logo {
                    background-position: 0 -315px;
                    width: 103px;
                    height: 43px;
                }

                li:nth-child(9):hover a .fun_logo {
                    background-position: 0 -387px;
                }
            }

            /* 여기까지 fun_contents > ul */
            .bx-wrapper:hover .bx-controls-direction {
                display: block;
            }

            .bx-wrapper {
                max-width: 637px !important;
                height: 162px !important;
                position: absolute;
                left: 7px;
                bottom: 11px;
                border-radius: 15px;
                overflow: hidden;
                cursor: pointer;

                .bx-controls-direction {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                    display: none;

                    a {
                        background: url(../images/btn_arrow_slide.png) no-repeat;
                        width: 44px;
                        height: 44px;
                        display: block;
                        text-indent: -9999em;
                    }

                    .bx-prev {
                        left: 0;
                        background-position: 0 0;
                    }

                    .bx-prev:hover {
                        background-position: 0 -46px;
                    }

                    .bx-next {
                        position: absolute;
                        right: 0;
                        top: 0;
                        background-position: -46px 0;
                    }

                    .bx-next:hover {
                        background-position: -46px -46px;
                    }
                }

                .bx-pager {
                    position: absolute;
                    left: 0;
                    bottom: 5px;
                    right: 0;
                    text-align-last: center;

                    div {
                        display: inline-block;

                        .bx-pager-link {
                            display: block;
                            width: 10px;
                            height: 10px;
                            border: 1px solid #a2a2a2;
                            border-radius: 50%;
                            text-indent: -9999em;
                            margin: 0 2px;
                        }

                        .bx-pager-link.active {
                            background: #696969;
                        }
                    }
                }
            }

            .fun_slide {
                .bx_s {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 641px;

                    .text_box {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        padding: 50px 0 0 34px;
                        box-sizing: border-box;
                    }
                }

                .slide_tit {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 7px;
                }

                .slide_text {
                    font-size: 16px;
                    line-height: 22px;

                }

                .slide1 {
                    .slide_tit {
                        color: #92ff63;

                        em {
                            color: #fafd4a;
                        }
                    }

                    .slide_text {

                        color: #fff;
                    }
                }

                .slide2 {
                    .slide_tit {
                        color: #fff;
                    }

                    .slide_text {

                        color: #6e8eac;
                    }
                }
            }
        }

        /* 여기까지 fun_contents */

        .popular_contents {
            margin-top: 50px;

            ul {
                width: 390px;
                margin-left: 25px;

                li {
                    @include box-style($boxWidth: 188px, $boxHeight: 80px);
                    box-shadow: none;
                    background: #fff;
                    display: inline-block;
                    margin-bottom: 8px;
                    margin-right: 2px;
                    transition: 0.2s;

                    &:hover {
                        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
                        background-color: $mainColor;

                        span {
                            color: #fff;
                        }
                    }

                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        @include flex-center;

                        span {
                            font-size: 17px;
                        }
                    }
                }
            }
        }

        /* 여기까지 popular_contents */
    }

    /*여기까지 main_contents */
    .main_footer {
        background: #e0e0e0;
        padding: 20px 0;

        .container {
            display: flex;
            justify-content: space-between;
        }

        .notices {
            padding-top: 13px;

            ul.notices_menus {
                width: 500px;
                height: 100%;
                position: relative;

                >li {
                    .notice_tit {
                        font-size: 17px;
                        color: #777777;
                        width: 162px;
                        height: 43px;
                        line-height: 43px;
                        text-align: center;
                        display: block;
                        border-radius: 20px;
                        border: 1px solid #d2d1d6;
                        margin-right: 25px;
                        margin-bottom: 10px;
                    }

                    .notice_tit:last-child {
                        margin-bottom: 0;
                    }

                    .notice_tit.active {
                        color: #fff;
                        background: $mainColor;
                    }

                    >ul.detail_list.active {
                        display: block;
                    }

                    >ul.detail_list {
                        width: 304px;
                        height: 100%;
                        position: absolute;
                        left: 185px;
                        top: 0;
                        display: none;

                        li {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            a {
                                line-height: 30px;
                                color: #000;
                                position: relative;
                            }
                        }
                    }
                }
            }
        }

        /* 여기까지 .notices */
        .socials {
            width: 410px;
            display: flex;
            justify-content: space-between;
            margin-top: 22px;

            .ebs_app {
                display: block;
                width: 122px;
                height: 45px;
                background: #fff;
                border-radius: 20px;
                line-height: 43px;
                position: relative;
                padding-left: 27px;
                box-sizing: border-box;
            }

            .ebs_app:after {
                content: "";
                position: absolute;
                top: 50%;
                right: 20px;
                width: 11px;
                height: 15px;
                transform: translateY(-50%);
                background: url(../images/ebs_main_spt1.png) no-repeat;
                background-position: -89px 0;
            }

            .social_link {
                li {
                    display: inline-block;
                    margin-right: 5px;

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        display: block;
                        background: url(../images/ebs_main_spt1.png) no-repeat;
                        width: 45px;
                        height: 45px;
                        text-indent: -9999em;
                    }

                    .blog {
                        background-position: -324px -307px;
                    }

                    .blog:hover {
                        background-position: -324px -369px;
                    }

                    .facebook {
                        background-position: -380px -307px;
                    }

                    .facebook:hover {
                        background-position: -380px -369px;
                    }

                    .kakao {
                        background-position: -438px -307px;
                    }

                    .kakao:hover {
                        background-position: -438px -369px;
                    }

                    .youtube {
                        background-position: -498px -307px;
                    }

                    .youtube:hover {
                        background-position: -498px -369px;
                    }

                    .insta {
                        background-position: -557px -307px;
                    }

                    .insta:hover {
                        background-position: -557px -369px;
                    }
                }
            }
        }

        /* 여기까지 socials */
        .ad_area {
            width: 272px;
            height: 190px;
            background: #6d6d6d;
            color: #fff;
            @include flex-center;
            margin: 0;
            font-size: 20px;
        }
    }

    /* 여기까지 main_footer */
}

footer .mobile_info {
    display: none;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;

    strong {
        font-weight: bold;
    }

    .imptt {
        color: $mainColor;
    }

    .left_area {
        width: 840px;

        ul {
            li:after {
                content: "";
                width: 3px;
                height: 3px;
                border-radius: 50%;
                position: absolute;
                left: -10px;
                top: 50%;
                background-color: #777777;
            }

            li:first-child:after {
                display: none;
            }

            li {
                display: inline-block;
                margin-right: 20px;
                position: relative;

                a {
                    font-weight: 100;
                    font-size: 12.5px;
                }
            }
        }

        .info {
            margin: 10px 0;

            span {
                font-weight: 100;
                font-size: 13px;
                line-height: 16px;
            }
        }

        .copy {
            font-size: 12px;
        }
    }

    .right_area {
        display: flex;
        justify-content: space-between;
        width: 340px;

        .ismsp {}

        .links {
            width: 170px;

            select {
                width: 150px;
                height: 18px;
                margin-bottom: 10px;
                font-size: 12px;
            }

            a {
                float: left;
                margin-bottom: 10px;
            }
        }
    }
}



@media (max-width:1280px) {
    .container {
        width: 980px;
    }

    main .main_contents .fun_contents ul li {
        width: 164px;
    }

    main .main_contents .fun_contents .bx-wrapper {
        max-width: 529px !important;
        left: 2px;

        img {
            height: 100%;

        }
    }

    main .main_contents .popular_contents ul {
        width: 290px;

        li {
            width: 126px;
        }
    }

    main .main_contents {
        display: flex;
    }

    main .main_contents .fun_contents ul {
        width: 713px;
    }

    main .main_footer .notices ul.notices_menus>li .notice_tit {
        width: 97px;
        font-size: 15px;
    }

    main .main_footer .notices ul.notices_menus>li>ul.detail_list {
        width: 200px;
        left: 109px;
    }

    main .main_footer .notices ul.notices_menus {
        width: 344px;
    }

    main .main_footer .socials {
        width: 386px;
        margin-right: 20px;
    }

    main .main_footer .socials .ebs_app {
        width: 88px;
        padding-left: 16px;
    }

    main .main_footer .socials .ebs_app:after {
        right: 10px;
    }

    main .main_footer .socials .social_link li {
        margin-right: 1px;
    }

    footer .left_area ul {
        width: 737px;
    }

    footer .left_area ul li {
        margin-right: 10px;
    }

    footer .left_area ul li a {
        font-size: 12px;
    }

    footer .left_area .info span {
        font-size: 12px;
    }

}

@media (max-width:980px) {
    body {
        overflow-x: hidden;
    }

    header h1 {
        top: 35%;
    }

    .container {
        width: 100%;
    }

    header .top_menu ul li:nth-child(2),
    header .top_menu ul li:nth-child(3) {
        display: none;
    }

    header .top_menu ul li:last-child {
        position: absolute;
        left: 80px;
        top: 20px;
    }

    header .top_menu ul li a {
        font-size: 26px;
        top: 20px;
    }

    header .main_menu {
        padding: 0 20px;
    }

    header .main_menu .left {
        width: 50%;
        display: flex;
        justify-content: space-around;
        margin-right: 10px;
    }

    header .top_menu .left li:first-child {
        margin-left: 20px;
    }

    header .top_menu .left li:first-child a {
        background-position: 100% 100%;
        width: 43px;
        height: 38px;

    }


    header .main_menu .right {
        width: 50%;
        display: flex;
        justify-content: space-around;
    }

    main form input {
        width: 90%;
    }

    main form button {
        right: 10%;
    }

    main .on_air a span {
        font-size: 17px;
    }

    main .main_contents {
        display: block;
    }

    main .main_contents .fun_contents ul {
        width: 100%;
        padding: 0 2%;
        box-sizing: border-box;
    }

    main .main_contents .fun_contents ul li {
        width: 23%;
    }

    main .main_contents .fun_contents .bx-wrapper {
        max-width: 665px !important;
        left: 37px;
    }

    main .main_contents .fun_contents .fun_slide .bx_s img {
        width: 100%;
    }

    main .main_contents .popular_contents {
        width: 100%;
    }

    main .main_contents .popular_contents ul {
        width: 100%;
    }

    main .main_contents .popular_contents ul li {
        width: 47%;
    }

    footer.main_footer {
        display: block;
    }

    main .main_footer {
        background: #294059;
        padding: 33px 10px;
        height: 200px;
        position: relative;
    }

    main .main_footer .notices {
        width: 80%;
        padding-top: 0;
        margin-top: -7px;
    }

    main .main_footer .notices ul.notices_menus {
        width: 100%;
        display: flex;
    }

    main .main_footer .notices ul.notices_menus li {
        width: 33%;
    }

    main .main_footer .notices ul.notices_menus>li .notice_tit.active {
        color: #000;
        background: #fff;

    }

    main .main_footer .notices ul.notices_menus>li .notice_tit {
        color: #fff;
        width: 95%;
    }

    main .main_footer .notices ul.notices_menus>li>ul.detail_list {
        width: 100%;

        left: 18px;
        top: 49px;

    }

    main .main_footer .notices ul.notices_menus>li>ul.detail_list li {
        width: 100%;

        a {
            color: #fff;
        }
    }

    main .main_footer .socials {
        width: 50%;
        margin-right: 4px;
        margin-top: -8px;
    }

    main .main_footer .socials .social_link li {
        margin-right: 0px;
    }

    main .main_footer .ad_area {
        position: absolute;

        right: 17px;
        bottom: 5px;
        transform: scale(0.9);
    }

    footer .left_area,
    footer .right_area {
        display: none;
    }

    footer .mobile_info {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 20px 0 50px 0;

        ul {
            width: 100%;

            li {
                display: flex;
                width: 80%;
                margin: 0 auto;

                .tit {
                    width: 40%;
                }

                .content {
                    width: 60%;
                    font-weight: 100;
                }

                span {
                    color: #fff;
                    font-size: 20px;
                    line-height: 30px;
                }
            }
        }
    }

    footer {
        background: #3b4c63;
    }
}